*.pdf
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
/NaiveBayes/NaiveBayesAlgorithm/nbproject/private/
/NaiveBayes/NaiveBayesAlgorithm/build/
/NearestNeighbor/NearestNeighborAlgorithm/nbproject/private/
/NearestNeighbor/NearestNeighborAlgorithm/build/
/NeuralNets/NeuralNetsAlgorithm/nbproject/private/