/NaiveBayes/NaiveBayesAlgorithm/nbproject/private/
/NaiveBayes/NaiveBayesAlgorithm/build/
NaiveBayes/ProjectReport/project_report.synctex.gz
NaiveBayes/ProjectReport/project_report.pdf
NaiveBayes/ProjectReport/project_report.log
NaiveBayes/ProjectReport/project_report.aux
NaiveBayes/ProjectReport/project_report.aux
NaiveBayes/ProjectReport/project_report.log
NaiveBayes/ProjectReport/project_report.pdf
NaiveBayes/ProjectReport/project_report.synctex.gz
